<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabriel.carona_fatec">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <user-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OferecerCaronasActivity"
            android:label="@string/titulo_activity_oferecer_caronas"
            android:parentActivityName=".MainActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ConfirmarRotaActivity"
            android:label="Confirmar rota"
            android:parentActivityName=".OferecerCaronasActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/titulo_activity_login" />
        <activity
            android:name=".CadastroActivity"
            android:label="Cadastro"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".CaronaActivity"
            android:label="Caronas" />
        <activity
            android:name=".BuscarCaronasActivity"
            android:label="Procurar caronas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListarCaronaActivity"
            android:label="Listar caronas"
            android:parentActivityName=".BuscarCaronasActivity" />
        <activity
            android:name=".ReservarCaronaActivity"
            android:label="Reservar carona" />
        <activity
            android:name=".MinhasBuscasCarona"
            android:label="Minhas caronas procuradas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MinhasOfertasCarona"
            android:label="Minhas caronas oferecidas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConfirmarCaronaActivity"
            android:label="Aprovar caronas" />
        <activity
            android:name=".SplashScreen"
            android:label="Tamo Junto"
            android:theme="@style/TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SobreActivity"
            android:label="Sobre"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".AprovarCaronaActivity"
            android:label="Aprovar caronas"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>